In [3]:
import requests, json
import pandas as pd
import numpy as np
import seaborn
from bs4 import BeautifulSoup
%matplotlib inline

# Exercice 4

We took the correlation matrix of the merge dataframe and unstacked it. We considered that the correlation was :
- strong above 0.7
- moderate between 0.7 and 0.5
- weak between 0.5 and 0.3
- inexistant below 0.3

In [66]:
#correlation matrix, with absolute values only
correlations = merged_df.corr().abs()

#take only the upper triangle to no get duplicates
correlations = correlations.where(np.triu(np.ones(correlations.shape)).astype(np.bool))

#sort values
correlations = correlations.unstack().sort_values(ascending=False)

#  divies by strong/moderate/weak/no correlations
strong_corr = correlations[(correlations < 1) & (correlations >= 0.7)]
moderate_corr = correlations[(correlations < 0.7) & (correlations >= 0.5)]
weak_corr = correlations[(correlations < 0.5) & (correlations >= 0.3)]
no_corr = correlations[(correlations < 0.3)]

We can see that strongly correlated values are the same values issued from the two different sources, like total number of students in the QS and total number of students in THE, which seems logical.

In [67]:
strong_corr

nbstudents_all_universitiesTimes             nbstudents_all_universitiesShanghai               0.983463
ratioIntStudentmem_universitiesTimes         ratioIntStudentmem_universitiesShanghai           0.936593
nbstudents_int_universitiesTimes             nbstudents_int_universitiesShanghai               0.887394
nbfaculty_all_universitiesTimes              nbfaculty_all_universitiesShanghai                0.737562
ratioFacultymemStudentmem_universitiesTimes  ratioFacultymemStudentmem_universitiesShanghai    0.715505
rank_universitiesTimes                       rank_universitiesShanghai                         0.704325
dtype: float64

In moderate correlation, it's interesting to see that the rank has a score or 0.5 with the number of international faculty members, but correlation doesn't give us causation therefore we can't define if a better university will have more international faculty members or if it's the other way around, or both.
The other values of this list show us that the number of students is proportionnal to the number of faculty members, and that the number of internationals (student and faculty members) is correlated to the total numbers (student and faculty members).

In [68]:
moderate_corr

nbfaculty_int                            nbfaculty_all_universitiesShanghai     0.647662
nbstudents_int_universitiesShanghai      nbstudents_all_universitiesShanghai    0.629987
nbstudents_int_universitiesTimes         nbstudents_all_universitiesShanghai    0.592219
nbstudents_all_universitiesShanghai      nbfaculty_all_universitiesShanghai     0.589139
nbstudents_all_universitiesTimes         nbfaculty_all_universitiesShanghai     0.586477
                                         nbstudents_int_universitiesShanghai    0.583989
nbstudents_int_universitiesShanghai      nbfaculty_int                          0.579686
nbstudents_int_universitiesTimes         nbstudents_all_universitiesTimes       0.553896
nbstudents_all_universitiesTimes         nbfaculty_all_universitiesTimes        0.547380
ratioIntStudentmem_universitiesShanghai  nbstudents_int_universitiesShanghai    0.535795
ratioIntStudentmem_universitiesTimes     nbstudents_int_universitiesTimes       0.507608
rank_universitiesShanghai                nbfaculty_int                          0.500673
dtype: float64

The rest of the values show us the lowest correlations. What is interesting to look, is that the rank has low correlation with the number of faculty members (total and international), almost no corrlation with the number of students (total and international) and the ratio faculty members/student.

In [107]:
print(weak_corr)
print(no_corr)

nbfaculty_all_universitiesTimes                 nbstudents_all_universitiesShanghai               0.487660
nbstudents_int_universitiesTimes                ratioIntStudentmem_universitiesShanghai           0.484099
ratioFacultymemStudentmem_universitiesTimes     nbfaculty_all_universitiesTimes                   0.456813
nbstudents_int_universitiesTimes                nbfaculty_int                                     0.439998
nbstudents_int_universitiesShanghai             nbfaculty_all_universitiesShanghai                0.417124
ratioFacultymemStudentmem_universitiesShanghai  rank_universitiesShanghai                         0.400492
rank_universitiesTimes                          nbfaculty_all_universitiesShanghai                0.395698
ratioFacultymemStudentmem_universitiesShanghai  nbstudents_all_universitiesShanghai               0.395150
ratioFacultymemStudentmem_universitiesTimes     nbstudents_all_universitiesShanghai               0.389592
nbstudents_int_universitiesTimes                nbfaculty_all_universitiesShanghai                0.389380
ratioIntStudentmem_universitiesShanghai         nbfaculty_int                                     0.388899
nbstudents_all_universitiesTimes                ratioFacultymemStudentmem_universitiesShanghai    0.381472
nbfaculty_all_universitiesTimes                 nbfaculty_int                                     0.373519
ratioFacultymemStudentmem_universitiesTimes     nbstudents_all_universitiesTimes                  0.370098
ratioFacultymemStudentmem_universitiesShanghai  nbfaculty_all_universitiesShanghai                0.361472
ratioIntStudentmem_universitiesTimes            nbstudents_all_universitiesShanghai               0.347140
rank_universitiesShanghai                       nbfaculty_all_universitiesShanghai                0.346998
ratioFacultymemStudentmem_universitiesTimes     nbstudents_int_universitiesTimes                  0.342897
ratioFacultymemStudentmem_universitiesShanghai  nbfaculty_int                                     0.330980
ratioFacultymemStudentmem_universitiesTimes     nbstudents_int_universitiesShanghai               0.325040
nbfaculty_all_universitiesTimes                 rank_universitiesShanghai                         0.322822
ratioIntStudentmem_universitiesTimes            nbstudents_int_universitiesShanghai               0.317810
                                                nbstudents_all_universitiesTimes                  0.314265
rank_universitiesTimes                          nbfaculty_int                                     0.304907
dtype: float64
ratioIntStudentmem_universitiesShanghai         rank_universitiesShanghai                         0.299326
rank_universitiesTimes                          ratioFacultymemStudentmem_universitiesShanghai    0.293694
nbstudents_all_universitiesTimes                ratioIntStudentmem_universitiesShanghai           0.290405
nbstudents_all_universitiesShanghai             nbfaculty_int                                     0.288307
ratioIntStudentmem_universitiesTimes            nbfaculty_all_universitiesTimes                   0.283665
rank_universitiesTimes                          nbstudents_int_universitiesTimes                  0.274712
nbfaculty_all_universitiesTimes                 ratioFacultymemStudentmem_universitiesShanghai    0.264761
nbstudents_all_universitiesTimes                nbfaculty_int                                     0.263255
nbfaculty_all_universitiesTimes                 ratioIntStudentmem_universitiesShanghai           0.256237
rank_universitiesTimes                          nbstudents_int_universitiesShanghai               0.247567
rank_universitiesShanghai                       nbstudents_int_universitiesShanghai               0.233227
ratioFacultymemStudentmem_universitiesTimes     rank_universitiesShanghai                         0.230385
ratioFacultymemStudentmem_universitiesShanghai  nbstudents_int_universitiesShanghai               0.220418
rank_universitiesTimes                          nbfaculty_all_universitiesTimes                   0.220004
nbstudents_int_universitiesTimes                rank_universitiesShanghai                         0.207398
ratioIntStudentmem_universitiesTimes            rank_universitiesTimes                            0.201451
                                                nbfaculty_int                                     0.201143
nbstudents_int_universitiesTimes                nbfaculty_all_universitiesTimes                   0.192458
nbfaculty_all_universitiesTimes                 nbstudents_int_universitiesShanghai               0.192244
rank_universitiesTimes                          nbstudents_all_universitiesShanghai               0.187834
nbstudents_int_universitiesTimes                ratioFacultymemStudentmem_universitiesShanghai    0.184361
ratioIntStudentmem_universitiesShanghai         nbstudents_all_universitiesShanghai               0.181927
ratioFacultymemStudentmem_universitiesTimes     nbfaculty_all_universitiesShanghai                0.179729
ratioIntStudentmem_universitiesTimes            nbfaculty_all_universitiesShanghai                0.177428
                                                ratioFacultymemStudentmem_universitiesShanghai    0.169569
                                                rank_universitiesShanghai                         0.160033
rank_universitiesTimes                          nbstudents_all_universitiesTimes                  0.133660
ratioIntStudentmem_universitiesShanghai         ratioFacultymemStudentmem_universitiesShanghai    0.132868
rank_universitiesTimes                          ratioIntStudentmem_universitiesShanghai           0.129442
ratioFacultymemStudentmem_universitiesTimes     rank_universitiesTimes                            0.124063
                                                nbfaculty_int                                     0.097496
ratioIntStudentmem_universitiesShanghai         nbfaculty_all_universitiesShanghai                0.061124
nbstudents_all_universitiesTimes                rank_universitiesShanghai                         0.050330
ratioIntStudentmem_universitiesTimes            ratioFacultymemStudentmem_universitiesTimes       0.044604
ratioFacultymemStudentmem_universitiesTimes     ratioIntStudentmem_universitiesShanghai           0.042841
rank_universitiesShanghai                       nbstudents_all_universitiesShanghai               0.012364
dtype: float64

# Exercice 5

For the merging, we considered that both rankings had the same relevance, therefore we could simply take the mean (or the sum, since it won't change the order).

In [143]:
pd.options.mode.chained_assignment = None  # default='warn'

# take only universities that were on both rankings
merged_without_nan = merged_df.dropna()

# sum the rank
merged_without_nan['rank_sum'] = merged_without_nan[['rank_universitiesShanghai','rank_universitiesTimes']].sum(axis=1)

# sort them
final_ranking = merged_without_nan.sort_values(['rank_sum'], ascending=True).reset_index(drop=True)

# increment index by one so it starts at 1
final_ranking.index +=1

final_ranking[['rank_sum', 'title']]

     rank_sum                                       title
1         5.0                         Stanford University
2         7.0                        University of Oxford
3         7.0                     University of Cambridge
4         9.0                          Harvard University
5        16.0                     Imperial College London
6        18.0                       University of Chicago
7        20.0                        Princeton University
8        28.0                             Yale University
9        29.0                  University of Pennsylvania
10       30.0                    Johns Hopkins University
11       32.0                         Columbia University
12       33.0                          Cornell University
13       38.0                             Duke University
14       42.0                      University of Michigan
15       48.0                     Northwestern University
16       53.0                       University of Toronto
17       55.0                         Tsinghua University
18       65.0                           Peking University
19       71.0                  Carnegie Mellon University
20       74.0                           McGill University
21       85.0              University of British Columbia
22       86.0                    University of Washington
23       98.0             University of Wisconsin-Madison
24      103.0             Georgia Institute of Technology
25      103.0                            Brown University
26      105.0              Technical University of Munich
27      106.0  University of Illinois at Urbana-Champaign
28      110.0                            Kyoto University
29      110.0                   Seoul National University
30      116.0               University of Texas at Austin
..        ...                                         ...
76      258.0                           Dartmouth College
77      263.0            University of California, Irvine
78      264.0                         Zhejiang University
79      269.0             Technical University of Denmark
80      271.0           KTH Royal Institute of Technology
81      272.0                          University of York
82      272.0                          University of Bern
83      282.0              University of Colorado Boulder
84      283.0                          Nanjing University
85      285.0                        Lancaster University
86      286.0                      University of Virginia
87      288.0                          University of Oslo
88      289.0           Lomonosov Moscow State University
89      294.0                     University of Göttingen
90      298.0                      University of Lausanne
91      299.0                          Cardiff University
92      303.0                       Maastricht University
93      319.0                        University of Vienna
94      321.0                       University of Florida
95      327.0                            Aalto University
96      329.0                        Stockholm University
97      336.0                        Newcastle University
98      339.0            École Normale Supérieure de Lyon
99      339.0                     University of Rochester
100     343.0                      University of Aberdeen
101     350.0                     University of Liverpool
102     354.0                        Texas A&M University
103     358.0                        University of Twente
104     362.0                     University of Cape Town
105     376.0            Scuola Normale Superiore di Pisa

[105 rows x 2 columns]